.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  background: $color-background;
  box-shadow: 0 1px 0 rgba(#000, 0.15);

  .flexbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon {
    cursor: pointer;

    .icon-bar {
      position: relative;
      background-color: $navbar-icon-color;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      transform: rotate(0deg);
      transition-timing-function: ease;
      transition-duration: 0.55s;
      transition-property: transform;

      + .icon-bar {
        margin-top: 4px;
      }

      &:nth-child(1) {
        transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
        top: 0;
      }

      &:nth-child(2) {
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: 0.22s;
      }

      &:nth-child(3) {
        transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55,.055,.675,.19);
        bottom: 0;
      }
    }

    &.x {

      .icon-bar {
        margin-top: 0;
        background-color: $color-primary;

        &:nth-child(1) {
          opacity: 0;
          top: 4px;
          transition: top .1s ease-out, opacity .1s ease-out .12s;
        }

        &:nth-child(2) {
          transition-delay: 0.12s;
          transition-timing-function: cubic-bezier(.215,.61,.355,1);
          transform: rotate(225deg);
        }

        &:nth-child(3) {
          bottom: 2px;
          transform: rotate(135deg);
          transition: bottom .1s ease-out, transform .22s cubic-bezier(.215,.61,.355,1) .12s;
        }
      }
    }
  }

  .menu {
    position: fixed;
    z-index: 100;
    top: $navbar-mobile-height;
    left: -100%;
    display: block;
    visibility: hidden;
    overflow: auto;
    width: $navbar-mobile-menu-width;
    min-height: 100%;
    max-height: 100%;
    transition: $navbar-slide-transition;
    background-color: $color-background;
    border-top: 1px solid rgba(#000, 0.15);
    padding-bottom: $navbar-mobile-height;
    box-shadow: 6px 0px 6px -6px rgba(0,0,0,0.75);

    &.open {
      left: 0;
      visibility: visible;
    }

    .main-menu {

      li {
        border-bottom: 1px solid $main-menu-item-border-color;
      }

      ul {
        display: none;
        background-color: $main-menu-dropdown-bg-color;

        li:last-child {
          border-bottom: 0;
        }

        li:first-child {
          /*border-top: 1px solid $main-menu-item-border-color;*/
          border-top: 1px solid $color-primary;
        }

        a {
          text-indent: 1em;
          color: $main-menu-item-text-color;
        }
      }
    }

    .has-dropdown {

      a {
        width: calc(100% - #{$main-menu-item-max-width});
      }
    }

    .mobile-dropdown-icon {
      position: absolute;
      top: 0;
      right: $main-menu-item-padding / 2;
      padding: $main-menu-item-padding;
      line-height: $line-height;
      max-width: $main-menu-item-max-width;
      overflow: hidden;
      cursor: pointer;

      &:before {
        content: "";
        display: inline-block;
        width: 1.125rem;
        height: 1.125rem;
        border-top: 0.175rem solid #0091ff;
        border-right: 0.175rem solid #0091ff;
        transform: rotate(45deg);
        transition: transform 0.15s ease-in-out;
        pointer-events: none;
      }

      &.open:before {
        transform: rotate(135deg);
      }
    }
  }
}

.navbar,
.navbar .container,
.navbar .flexbar {
  min-height: $navbar-mobile-height;
}

.logo {
  color: $color-headings;
  font-family: $font-family-logo;
  font-size: 1.125em;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    position: relative;
    display: block;
  }

  a {
    position: relative;
    display: block;
    padding: $main-menu-item-padding;
    font-size: 1.4rem;
    color: $color-headings;
    font-weight: lighter;
    transition: 0.25s;
    text-transform: uppercase;
    /*backface-visibility: hidden;*/
    /*transform: translate3d(0,0,0);*/
    /*text-rendering: optimizeLegibility;*/
  }
}

#menu-overlay {
  position: fixed;
  z-index: 4;
  height: 100%;
  width: 100%;
  background: rgba(#000, 0.4);
  display: none;
}
