@import url('https://fonts.googleapis.com/css?family=Cinzel:700');

$color-background: #fff;
$color-headings: #2f2f2f;
$color-text: #9e9e9e;

$navbar-mobile-height: 65px;
$navbar-icon-color: #888;
$navbar-mobile-menu-width: 250px;
$navbar-slide-transition: left 0.3s ease-in-out, right 0.3s ease-in-out, visibility 0.3s ease-in-out;

$font-family-logo: 'Cinzel', sans-serif;
